{% extends 'base.html' %} {% block content %}
{% load static %}
<div class="container px-4 mt-5">
  <div class="row gx-5">
    <div class="col-sm p-3 border">
      <span class="badge bg-info text-dark"><a href="/brasileirao" class="link-light">Campeonato Brasileiro</a></span>
    </div>
    <div class="col-sm p-3 border">
      <span class="badge bg-info text-dark"><a href="/fives" class="link-light">Rolling Fives</a></span>
    </div>
    <div class="col-sm p-3 border">
      <span class="badge bg-info text-dark"><a href="/stockwatch" class="link-light">StockWatch</a></span>
    </div>
  </div>
</div>

{% endblock content %}